body{
    color:white;
}


#container{
    border:solid black 3px;
    width:100%;
    height:98vh;
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    align-items:flex-end;
    margin-bottom: 30px;
    font-size: 25px;
    background-image:url("images/background.jpg");
    background-position: absolute;
    background-size:100%;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-color:black;
}
#content{
       
}

#content input{
    height:30px;
    border: 1px white solid;
    display:inline-block;
    box-shadow: 0 19px 38px rgba(255, 255, 255, 0.3), 0 15px 12px rgba(255, 255, 255, 0.22);
    margin-right:5px;
}


#content #play-button{
margin:auto;
margin-top: 20px;
width: 100%;
margin-bottom:30px;


}

#content button{
    
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #48e0cc;
        padding:  20px;
        width: 50%;
        border-radius: 5px;
        display: inline-block;
        border: solid 3px;;
        transition: all 0.4s ease 0s;
        }
#content button:hover{
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;       
}

#nBtn{
    
        float:right;
        margin:auto;
        margin-top: 20px;
        width: 100%;
        margin-bottom:30px;
}

#pBtn{
        float:left;
        margin:auto;
        margin-top: 20px;
        width: 100%;
        margin-bottom:30px;
}

#username {
        width:100%;
        text-align:center;
}

#filter{
        width:100%;
        text-align:center;
}

#question-list{
    background-color:rgba(212, 199, 199, 0.1);
    color:black;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    padding: 10%;
    margin:auto;
    
    
    
}

#question-list {
    
    color:white;
    border: 3px solid #48e0cc;;
   
}

@media screen and (max-width: 650px){
        #question-list{
                font-size: 20px;
        }
        
}

@media screen and (max-width: 520px){
        #question-list{
                font-size: 18px;
        }
        
}

@media screen and (max-width: 461px){
        #question-list{
                font-size: 15px;
        }
        
}

@media screen and (max-width: 391px){
        #question-list{
                font-size: 14px;
        }
        
}



